__pycache__/
*.py[cod]
*.pyo

.idea/
.vscode/

runs/
logs/
tmp/
examples/train/*
examples/test/*
examples/visual/*
!examples/README.md
*.log
*.pdf

checkpoints/*.model
checkpoints/*.pt
checkpoints/*.pth
!checkpoints/README.md

.DS_Store
Thumbs.db
